<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSSupportsLiveActivities</key>
	<true/>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>近くのデバイスと通信するためにBluetoothを使用します。</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>近くのデバイスと通信するためにBluetoothを使用します。</string>
	<key>NSLocalNetworkUsageDescription</key>
	<string>近くの端末との承認・集中ルーム同期のためにローカルネットワークを使用します。</string>
	<key>NSBonjourServices</key>
	<array>
		<string>_str8-approve._tcp</string>
		<string>_str8-approve._udp</string>
		<string>_str8-focusroom._tcp</string>
		<string>_str8-focusroom._udp</string>
	</array>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>str(8) ToDo Backup</string>
			<key>UTTypeIdentifier</key>
			<string>str8.todo.str8backup</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>str8</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
